* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--light-homepage);
}

.header {
    background: transparent;
    background-color: var(--light-header);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding:  20px 10%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    z-index: 100;
}

:root{
    --light-header:  #ffd89e;
    --light-homepage:  blanchedalmond;
    --light-gallery:  rgb(255, 227, 192);;
    --light-blog:  #ffdeab;
    --light-contact:  #ffd390;
    --light-font: black;
    --light-link: blue;
}

.dark-theme {
    --light-header:  #000;
    --light-homepage:  #10002c;
    --light-gallery:  rgb(0, 1, 37);;
    --light-blog:  #060037;
    --light-contact:  #070023;
    --light-font: white;
}

.header #mode {
    width: 25px;
    cursor: pointer;
}

.MyProfile {
    color: var(--light-font);
    font-size: 25px;
    font-weight: 600;
}

.navigation a{
    font-size: 16px;
    font-weight: 600;
    color: var(--light-font);
    text-decoration: none;
    padding-right: 100px;
    transition: .5s;
}

.navigation a:hover {
    color: white;
}

.homepage {
    color: var(--light-font);
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0px 10%;
}

.profile-images {
    width: 50%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.profile-images img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 1s;
}

.profile-images .shape {
    z-index: -1;
    margin-left: 3%;
    top: 23%;
    rotate: 28deg;
}

.profile-images .profile {
    margin-bottom: 10%;
    margin-left: 11%;
}

.profile-images:hover .shape {
    right: 45%;
}

.profile-images:hover .profile {
    left: 45%;
}

.homepage-content {
    max-width: 700px;
}

.homepage-content h1 {
    color: var(--light-font);
    font-size: 40px;
    font-weight: 800;
}

.homepage-content h2 {
    font-size: 26px;
    font-weight: 600;
}

.homepage-content p {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 40px;
}

.gallery {
    background-color: var(--light-gallery);
    height: 100vh;
    width: 100%;
    padding: 20px 10%;
}

.gallery h1 {
    font-size: 40px;
    color: var(--light-font);
    font-weight: 600;
    text-align: center;
    margin-top: 5%;
}

.gallery .images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding-top: 5%;
    gap: 5em;
}

.blog {
    background-color: var(--light-blog);
    display: flex;
    flex-flow: column ;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 20px 10%;
}

.blog-content h1 {
    font-size: 40px;
    font-weight: 600;
    color: var(--light-font);
    text-align: center;
    margin-top: 5%;
}

.blog-content .div-outside {
    margin: 5%;
}

.blog-content .div-inside {
    justify-content: center;
    border: 2px solid;
    margin: 25px;
    color: var(--light-font);
}

.blog-content .div-inside a {
    text-decoration: none;
    color: var(--light-link);
}

.blog-content article {
    padding: 30px;
}

.blog-content h3 {
    font-size: 20px;
    text-align: center;
}

.blog-content p {
    font-size: 16px;
}

.contact {
    background-color: var(--light-contact);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    width: 100%;
    padding: 20px 10%;
}

.contact-content {
    position: absolute;
    max-width: 100%;
    display: block;
    justify-content: space-between;
}

.contact-content h1 {
    font-size: 30px;
    font-weight: 600;
    color: var(--light-font);
    text-align: center;
    margin-left: 210px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.contact-content a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid black;
    border-radius: 25%;
    font-size: 20px;
    color: var(--light-font);
    text-decoration: none;
    margin-left: 200px;
    margin-bottom: 20px;
}